/* General Styles */
body, html {
    margin: 0;
    padding: 0;
}

/* Left Sidebar */
#left-sidebar {
    position: fixed;
    top: 20px;
    left: 0;
    width: calc(1920px / 21 * 4);
    font-size: 18px;
    font-family: "Georgia", "Times New Roman", Times, serif;
    overflow-y: auto;
    max-height: 96vh;
    z-index: 1000;
}

/* Remove underline from all links by default */
#left-sidebar a {
    text-decoration: none;
}

/* Add underline when hovered */
#left-sidebar a:hover {
    /* border: 1px solid rgb(255, 255, 255);; */
    /* box-shadow: 0 0 5px rgb(255, 255, 255); */
    background-color: rgba(121, 121, 121, 0.8);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 5px;
}

#left-sidebar p,
#left-sidebar a,
#left-sidebar span,
#left-sidebar .preformatted {
    color: rgb(255, 255, 255);
    font-size: 16px;
    z-index: 1000;
}

.preformatted {
    margin: 0;
}

#left-sidebar p {
    margin-left: 40px;
}

#left-sidebar a.top-link {
    margin-left: 40px;
}

#left-sidebar .section > .caret,
#left-sidebar .section > a {
    margin-left: 80px;
}

#left-sidebar .sub-section a {
    margin-left: 40px;
}

.caret {
    cursor: pointer;
}

.caret:hover {
    border: 1px solid rgb(255, 255, 255);;
}

/* Initially open */
.sub-section {
    display: block;
}

#menu-icon {
    cursor: pointer;
    display: none;
    position: fixed;
    top: 10px;
    z-index: 1000;
    background-color: black; 
    padding: 5px;
    width: 20px;
     height: 20px;
}


.bar {
    background-color: #ffffff;
    height: 3px;
    margin: 3px 0;
    width: 20px;
}

#menu-icon:hover {
    border: 2px solid white;
}

@media screen and (max-width: 768px) {
    #left-sidebar {
        display: none;
        width: 366px;
    }
    #menu-icon {
        display: block;
    }
}

@media screen and (min-width: 769px) {
    #left-sidebar {
        display: block;
    }
    #menu-icon {
        display: none;
    }
}

@media screen and (min-width: 769px) {
    #left-sidebar {
      display: block;
    }
    #menu-icon {
      display: none;
    }
}

#background-layer {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: calc(1920px / 21 * 4);
    z-index: 500;  /* Make sure it is below the sidebar but above other content */
    display: none;
}

@media screen and (min-width: 769px) {
    #background-layer {
        display: block; 
    }
}

/* 这是一个CSS注释，用于标识右边的主体部分的样式开始 */

/* Main Content */
#main-content {
    margin-left: calc(1920px / 21 * 4);
    font-family: "Georgia", "Times New Roman", Times, serif;
    padding: 20px 40px 40px 40px;  /* 上 右 下 左 */
}

#main-title {
    font-size: 60px;
    margin: 48px;
}

.sub-title {
    font-size: 24px;
    margin-bottom: 30px;
}

.text-content {
    font-size: 16px;
    margin-bottom: 24px;
}

.second-sub-title {
    font-size: 18px;
    margin-bottom: 24px;
}


.two-column {
    column-count: 2;
    column-gap: 40px;
}

/* Video Container */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    height: 0; /* Collapse the div */
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    #main-content {
        margin-left: 0;
        padding: 15px 30px 30px 30px;  /* 上 右 下 左 */
    }

    #main-title {
        font-size: 40px;
        margin: 16px;
    }

    .two-column {
        column-count: 1;
    }

    .video-container {
        padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
    }
}

.yellow-box {
    background-color: rgb(255, 226, 129);  /* 设置背景色为黄色 */ 
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 0;  /* 设置外边距为上下10px，左右0 */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.gray-box {
    background-color: rgb(176, 201, 225);  /* 设置背景色为黄色 */
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 0;  /* 设置外边距为上下10px，左右0 */
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.image-container img {
    width: calc(100% / 4 - 10px);  /* 4 images per row, minus some margin */
    margin: 5px;
}

@media screen and (max-width: 768px) {
    .image-container img {
        width: calc(100% / 2 - 10px);  /* 2 images per row on smaller screens, minus some margin */
    }
}

.column-container {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex: 1;
    background-color: RGB(63, 97, 191);
    color: white;
    padding: 20px;
    margin: 2px;
    box-sizing: border-box;
    border-radius: 8px; /* 设置边框圆角为5px */
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2); /* 添加阴影效果 */
    width: calc(100% / 6);
    text-align: left;
}

@media screen and (max-width: 768px) {
    .column {
        width: calc(100% / 3);
    }
}

.responsive-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.responsive-image{
max-width: 100%;
height: auto;
}

.small-text {
  font-size: 14px;
}

.two-column-responsive {
  column-count: 2;
  column-gap: 40px;
}

@media screen and (max-width: 768px) {
  .two-column-responsive {
    column-count: 1;
  }
}

table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #000000;
  }
  
  th {
    background-color: #e0e0e0;
  }

.responsive-table {
    overflow-x: auto;
}

/* Basic Styling */
.gif-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
  }
  
  .gif-item img {
    max-width: 100%;
    height: auto;
  }
  
.half-screen-image {
    width: 100%; /* 默认情况下，图片占据100%宽度 */
    display: block; /* 使图片独占一行 */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) { /* 在屏幕宽度大于或等于768px时应用 */
    .half-screen-image {
        width: 50%; /* 在较大屏幕上，图片占据70%宽度 */
    }
}

.half-screen-image1 {
    width: 100%; /* 默认情况下，图片占据100%宽度 */
    display: block; /* 使图片独占一行 */
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 768px) { /* 在屏幕宽度大于或等于768px时应用 */
    .half-screen-image1 {
        width: 80%; /* 在较大屏幕上，图片占据70%宽度 */
    }
}

.dual-image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* 在图片之间保持间隔 */
    gap: 10px; /* 在图片之间添加空隙 */
}

.image-wrapper {
    flex: 1 1 48%; /* 默认情况下每个包装器占一行的一半 */
    box-sizing: border-box; /* 确保边框和内边距不影响总宽度 */
}

.image-wrapper img {
    width: 100%; /* 让图片填充其包装器 */
    height: auto; /* 保持图片的原始纵横比 */
}

@media screen and (max-width: 768px) {
    .image-wrapper {
        flex-basis: 100%; /* 在较小屏幕上，每个包装器占一整行 */
    }
}

.box01 {
    background-color: #c7e2ed;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0); /* 文本颜色 */
}

.box02 {
    background-color: RGB(176, 201, 225);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}
.box03 {
    background-color: RGB(186, 211, 235);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}
.box04 {
    background-color: RGB(196, 221, 245);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}
.box05 {
    background-color: RGB(206, 231, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}
.box06 {
    background-color: RGB(216, 241, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box07 {
    background-color: RGB(255, 226, 129);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box08 {
    background-color: RGB(255, 236, 139);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box09 {
    background-color: RGB(255, 246, 149) ;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box010 {
    background-color: RGB(255, 255, 159);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box011 {
    background-color: RGB(255, 255, 169);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}

.box012 {
    background-color: RGB(236, 255, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(0, 0, 0)
}
.box013 {
    background-color: RGB(63, 97, 191);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box014 {
    background-color: RGB(83, 117, 211);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box015 {
    background-color: RGB(103, 137, 231);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box016 {
    background-color: RGB(123, 157, 251);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box017 {
    background-color: RGB(143, 177, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box018 {
    background-color: RGB(163, 197, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box018 {
    background-color: RGB(163, 197, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box018 {
    background-color: RGB(163, 197, 255);  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box019 {
    background-color: #D0E8F2;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box020 {
    background-color: #D4EDDA;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
.box021 {
    background-color: #E5D7F6;  
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;  /* 设置内边距为10px */
    margin: 10px 10px;  /* 设置外边距为上下10px，左右0 */
    border-radius: 10px;         /* 圆角 */
    color: rgb(255, 255, 255)
}
